.row
  .col-md-5
    %h2
      %a{href: bicycle_path(bicycle)}
        = bicycle.name
    %p.lead
      = "by #{bicycle.user.email}"
    %p
      %span.glyphicon.glyphicon-time
      = "Posted on #{bicycle.created_at.localtime.strftime("%B %d, %Y at %r")}"
  .col-md-7.text-right
    = link_to 'Use it!', use_bicycle_path(bicycle), remote: true, method: :post, class: 'btn btn-danger' if current_user.present?
%img.img-responsive{src: bicycle.image.face.url}
%br
%p
  = truncate(bicycle.description.gsub(/\n/, '<br>').html_safe, length: 400)
%a.btn.btn-primary{href: bicycle_path(bicycle)}
  Read More
%hr