.row
  .col-md-8
    %h1.page-header.text-center Bicycles
    #bicycles
      = render 'bicycles/bicycles'
  .col-md-4
    .well
      %h4.text-center Search
      = form_tag(bicycles_path, method: :get, remote: true, id: 'search-bicycles') do
        .input-group
          = text_field_tag :param, params[:param], class: 'form-control'
          = hidden_field_tag :category_id, params[:category_id] if params.key?(:category_id)
    = render 'categories/list'
    = render 'shared/widget'
%hr