.row
  .col-md-8
    %h2
      = @bicycle.name
    %p.lead
      = "by #{@bicycle.user.email}"
    %p
      %span.glyphicon.glyphicon-time
      = "Posted on #{@bicycle.created_at.localtime.strftime("%B %d, %Y at %r")}"
    %hr
    %img.img-responsive{src: @bicycle.image.face.url}
    %hr
    %p
      = @bicycle.description.gsub(/\n/, '<br>').html_safe
  .col-md-4
    = render 'shared/categories'
    = render 'shared/widget'
%hr