.center
  = form_for [@bicycle, @suggestion] do |f|
    %p
      = f.label :name
      = f.text_field :name, value: @bicycle.name, class: 'form-control'
    %p
      = f.label :description
      = f.text_area :description, value: @bicycle.description, class: 'form-control', rows: 10
    = f.submit 'Save', class: 'btn btn-success'