.center
  %hr
  .row
    .text-right
      = link_to 'Reject', bicycle_suggestion_path(@bicycle, suggestion), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'
    .col-md-8
      %h2
        %a{href: edit_bicycle_suggestion_path(@bicycle, suggestion)}
          = suggestion.name
      %p.lead
        = "by #{suggestion.user.email}"
      %p
        %span.glyphicon.glyphicon-time
        = "Suggested on #{suggestion.created_at.localtime.strftime("%B %d, %Y at %r")}"
  %br
  %p
    = suggestion.description.gsub(/\n/, '<br>').html_safe
  %hr
