= form_for @bicycle do |f|
  = image_tag @bicycle.image.preview.url if @bicycle.image.present?
  %p
    = f.label :image, 'Face'
    = f.file_field :image, class: 'form-control'
  %p
    = f.label :name
    = f.text_field :name, class: 'form-control'
  %p
    = f.label :description
    = f.text_area :description, class: 'form-control', rows: 10
  = f.submit 'Save', class: 'btn btn-success'